<div class="modal-header">
        <h5 class="modal-title" id="addAssetModalLabel">Add New Asset</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
</div>

<div class="modal-body">
    <div class="graph-form agile_info_shadow">
         <h3 class="w3_inner_tittle two">New Asset </h3>
            <div class="form-body">
                <form method="POST" action="{{ url_for('asset.asset') }}">

                    {{ form.hidden_tag() }}
                            <!--Serial Number-->
                            {% if form.serial_number.errors %}
                                {{ form.serial_number(class="form-control form-control-lg") }}
                                <div class="invalid-feedback">
                                    
                                    {% for error in form.serial_number.errors %}

                                        <span>{{ error }}</span>

                                    {% endfor %}

                                </div>
                            {% else %}

                                {{ form.serial_number(class="form-control form-control-lg") }}

                            {% endif %}
                            <!--/Serial Number-->

                            <!--Asset Category-->
                            {% if form.asset_category.errors %}
                                {{ form.asset_category(class="form-control form-control-lg") }}
                                <div class="invalid-feedback">
                                    
                                    {% for error in form.asset_category.errors %}

                                        <span>{{ error }}</span>

                                    {% endfor %}

                                </div>
                            {% else %}

                                {{ form.asset_category(class="form-control form-control-lg") }}

                            {% endif %}
                            <!--/Asset Category-->

                            <!--Model Name-->
                            {% if form.model_name.errors %}
                                {{ form.model_name(class="form-control form-control-lg") }}
                                <div class="invalid-feedback">
                                    
                                    {% for error in form.model_name.errors %}

                                        <span>{{ error }}</span>

                                    {% endfor %}

                                </div>
                            {% else %}

                                {{ form.model_name(class="form-control form-control-lg") }}

                            {% endif %}
                            <!--/Model Name-->

                            <!--Series Name-->
                            {% if form.series_name.errors %}
                                {{ form.series_name(class="form-control form-control-lg") }}
                                <div class="invalid-feedback">
                                    
                                    {% for error in form.series_name.errors %}

                                        <span>{{ error }}</span>

                                    {% endfor %}

                                </div>
                            {% else %}

                                {{ form.series_name(class="form-control form-control-lg") }}

                            {% endif %}
                            <!--/Series Name-->

                            <!--Asset Color-->
                            {% if form.asset_color.errors %}
                                {{ form.asset_color(class="form-control form-control-lg") }}
                                <div class="invalid-feedback">
                                    
                                    {% for error in form.asset_color.errors %}

                                        <span>{{ error }}</span>

                                    {% endfor %}

                                </div>
                            {% else %}

                                {{ form.asset_color(class="form-control form-control-lg") }}

                            {% endif %}
                            <!--/Asset Color-->

                            <!--Memory-->
                            {% if form.memory.errors %}
                                {{ form.memory(class="form-control form-control-lg") }}
                                <div class="invalid-feedback">
                                    
                                    {% for error in form.memory.errors %}

                                        <span>{{ error }}</span>

                                    {% endfor %}

                                </div>
                            {% else %}

                                {{ form.memory(class="form-control form-control-lg") }}

                            {% endif %}
                            <!--/Memory-->

                            <!--Processor-->
                            {% if form.processor.errors %}
                                {{ form.processor(class="form-control form-control-lg") }}
                                <div class="invalid-feedback">
                                    
                                    {% for error in form.processor.errors %}

                                        <span>{{ error }}</span>

                                    {% endfor %}

                                </div>
                            {% else %}

                                {{ form.processor(class="form-control form-control-lg") }}

                            {% endif %}
                            <!--/Processor-->

                            <!--Location-->
                            {% if form.location.errors %}
                                {{ form.location(class="form-control form-control-lg") }}
                                <div class="invalid-feedback">
                                    
                                    {% for error in form.location.errors %}

                                        <span>{{ error }}</span>

                                    {% endfor %}

                                </div>
                            {% else %}

                                {{ form.location(class="form-control form-control-lg") }}

                            {% endif %}
                            <!--/Location-->

                            <!--Status-->
                            {% if form.status.errors %}
                                {{ form.status(class="form-control form-control-lg") }}
                                <div class="invalid-feedback">
                                    
                                    {% for error in form.status.errors %}

                                        <span>{{ error }}</span>

                                    {% endfor %}

                                </div>
                            {% else %}

                                {{ form.status(class="form-control form-control-lg") }}

                            {% endif %}
                            <!--/Status-->

                            <!--Delivery Date-->
                            {% if form.delivery_date.errors %}
                                {{ form.delivery_date(class="form-control form-control-lg") }}
                                <div class="invalid-feedback">
                                    
                                    {% for error in form.delivery_date.errors %}

                                        <span>{{ error }}</span>

                                    {% endfor %}

                                </div>
                            {% else %}

                                {{ form.delivery_date(class="form-control form-control-lg") }}

                            {% endif %}
                            <!--/Delivery Date-->

                            
                            <div class="tp">
                                {{ form.submit(class="btn btn-outline-info") }}
                            </div>
                    </form> 
            
            </div>
    </div>
</div>