
	{% extends "layout.html" %}
	{% block content %}
		<!-- /inner_content-->
				<div class="inner_content">
				    <!-- /inner_content_w3_agile_info-->
					<div class="inner_content_w3_agile_info">
					

							<div class="registration admin_agile">
								
												<div class="signin-form profile admin">
													<h2>Login</h2>
													{% with messages = get_flashed_messages(with_categories=true) %}
														{% if messages %}
															{% for category, message in messages %}

																<div class="alert alert-{{ category }}">
																	
																	{{ message }}

																</div>

															{% endfor %}
														{% endif %}
													{% endwith %}
													<div class="login-form">
														<form method="POST" action="">

															{{ form.hidden_tag() }}
																<!--Username-->
																{% if form.username.errors %}
																	{{ form.username(class="form-control form-control-lg") }}
																	<div class="invalid-feedback">
																		
																		{% for error in form.username.errors %}

																			<span>{{ error }}</span>

																		{% endfor %}

																	</div>
																{% else %}

																	{{ form.username(class="form-control form-control-lg") }}

																{% endif %}
																<!--/Username-->

						
																<!--Password-->
																{% if form.password.errors %}
																	{{ form.password(class="form-control form-control-lg") }}
																	<div class="invalid-feedback">
																		
																		{% for error in form.password.errors %}

																			<span>{{ error }}</span>

																		{% endfor %}

																	</div>
																{% else %}

																	{{ form.password(class="form-control form-control-lg") }}

																{% endif %}
																<!--/Password-->


															<div class="tp">
																{{ form.submit(class="btn btn-outline-info") }}
															</div>
														</form>
													</div>
											
												
													 <h4>Don't have an account?<a href="{{ url_for('users.register') }}"> Register</a><h6>

													 
												</div>

					

				    		</div>
					<!-- //inner_content_w3_agile_info-->
					</div>
		<!-- //inner_content-->
				</div>

	{% endblock content %}